<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小六水产</title>


   <!-- <script src="js/index.js"></script>
    <script src="js/index_banner.js"></script>-->
</head>
<body>
<div class="index_topbox">
    <div class="index_top">
        <p class="index_topzhy">Hi，欢迎来到小6！</p>
        <span class="index_toplogin">登录</span>
        <span class="index_topreg">注册</span>
        <ul class="index_toplist">
            <li><img src="../../client/src/imgs/jhd_img.png" alt="" class="jhd_img">进货单（0）</li>
            <li>我的订单（0）</li>
            <li>我的收藏</li>
            <li>联系客服
                <div class="index_toplist_box" >
                    <img src="../../client/src/imgs/index_top_lxkf_img.png" alt="">
                    <p class="index_toplist_box_tel">400-153-1616</p>
                    <p class="index_toplist_box_telxq">周一至周五 <b>9:00-20:30</b><br/>周六、周日<b>9:00-18:00</b><br/>（仅收市话费）</p>
                </div>
            </li>
            <li>手机小6
                <div class="index_toplist_box index_toplist_box_ewm">
                    <img src="../../client/src/imgs/index_ewm.png" alt="">
                    <p class="index_toplist_box_ewmxq">扫码下载手机APP</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="index_ssbox">
    <div class="index_ss">
        <img src="../../client/src/imgs/index_x6logo.png" alt="" class="index_sslogo">
        <div class="spxq_sdbox">
            <p class="spxq_sdbox_name">小六水产旗舰店</p>
            <span class="spxq_sdbox_yzh">养殖户</span>
            <span class="spxq_sdbox_lxsj"><img src="../../client/src/imgs/xq_tel.png" alt="">联系商家</span>
        </div>
        <div class="spxq_sdbox spxq_sdbox_sjg">
            <p class="spxq_sdbox_sjfont">手机逛</p>
            <p class="spxq_sdbox_img"><img src="../../client/src/imgs/spxq_ewm.png" alt=""><img src="../../client/src/imgs/spxq_ewm_select1.png" alt="" class="spxq_sdbox_img_select"></p>
            <div class="index_toplist_box spxq_sdbox_ewm">
                <img src="../../client/src/imgs/index_ewm.png" alt="">
                <p class="index_toplist_box_ewmxq">扫描二维码逛本店</p>
            </div>
        </div>
        <div class="index_sscon" style="margin-right:0px;">
            <input type="text" placeholder="澳洲进口龙虾" class="index_sscon_input">
            <span class="index_sscon_btn spxq_sscon_btn">搜小六</span>
            <span class="spxq_sbd_btn">搜本店</span>
        </div>
    </div>
</div>
<div class="spxq_conbox">
    <div class="sjindex_con">
        <div class="spxq_conjsboxleft">
            <div class="sjsy_qjdbox">
                <p class="sjsy_qjdbox_name"><span>小6水产旗舰店</span></p>
                <p class="sjsy_qjdbox_tel"><span><img src="../../client/src/imgs/xq_tel.png" alt="">联系商家</span></p>
                <span class="sjsy_qjdbox_btn">收藏店铺</span>
            </div>
            <div class="spxq_conjsboxleft_sbd">
                <p class="spxq_conjsboxleft_sbd_font">搜索店内商品</p>
                <p class="spxq_conjsboxleft_sbd_gjz"><span class="spxq_conjsboxleft_sbd_gjzfont">关键词</span><input type="text" class="spxq_conjsboxleft_sbd_gjz_text1"></p>
                <p class="spxq_conjsboxleft_sbd_gjz"><span class="spxq_conjsboxleft_sbd_gjzfont">价&nbsp;&nbsp;&nbsp;格</span><input type="text" class="spxq_conjsboxleft_sbd_gjz_text1 spxq_conjsboxleft_sbd_gjz_text2"><i>—</i><input type="text" class="spxq_conjsboxleft_sbd_gjz_text1 spxq_conjsboxleft_sbd_gjz_text2"></p>
                <span class="spxq_conjsboxleft_sbd_qd">确定</span>
            </div>
            <div class="spxq_spflbox">
                <p class="spxq_conjsboxleft_sbd_font">商品分类</p>
                <div class="spxq_spflbox_spl">
                    <p class="spxq_spflbox_splfont"><img src="../../client/src/imgs/spxq_j.png" alt="" class="spxq_spflbox_splfont_sl display_inline"><img src="../../client/src/imgs/spxq_a.png" alt="" class="spxq_spflbox_splfont_sl">海水</p>
                    <ul class="spxq_spflbox_spllist display_block">
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                    </ul>
                </div>
                <div class="spxq_spflbox_spl">
                    <p class="spxq_spflbox_splfont"><img src="../../client/src/imgs/spxq_j.png" alt="" class="spxq_spflbox_splfont_sl"><img src="../../client/src/imgs/spxq_a.png" alt="" class="spxq_spflbox_splfont_sl display_inline">淡水</p>
                    <ul class="spxq_spflbox_spllist">
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                        <li>二级分类</li>
                    </ul>
                </div>
            </div>
            <div class="spindex_ph">
                <p class="spxq_conjsboxleft_sbd_font">商品分类</p>
                <div class="spindex_phnavbox">
                    <ul class="spindex_phnavbox_list">
                        <li class="spindex_phnavbox_list_click">销售量</li>
                        <li>收藏数</li>
                    </ul>
                </div>
                <div class="spindex_phcon">
                    <div class="spindex_phconcj display_block">
                        <ul class="spindex_phcon_list">
                            <li>
                                <div class="spindex_phcon_list_pic"><img src="../../client/src/imgs/hpq1.png" alt=""></div>
                                <p class="spindex_phcon_list_name">蒜蓉粉丝扇贝</p>
                                <p class="spindex_phcon_list_price">&yen;<span>18.80</span></p>
                                <p class="spindex_phcon_list_sc">已售出<span>130</span>件</p>
                            </li>
                            <li>
                                <div class="spindex_phcon_list_pic"><img src="../../client/src/imgs/hpq2.png" alt=""></div>
                                <p class="spindex_phcon_list_name">蒜蓉粉丝扇贝</p>
                                <p class="spindex_phcon_list_price">&yen;<span>18.80</span></p>
                                <p class="spindex_phcon_list_sc">已售出<span>130</span>件</p>
                            </li>
                            <li>
                                <div class="spindex_phcon_list_pic"><img src="../../client/src/imgs/hpq3.png" alt=""></div>
                                <p class="spindex_phcon_list_name">蒜蓉粉丝扇贝</p>
                                <p class="spindex_phcon_list_price">&yen;<span>18.80</span></p>
                                <p class="spindex_phcon_list_sc">已售出<span>130</span>件</p>
                            </li>
                            <li>
                                <div class="spindex_phcon_list_pic"><img src="../../client/src/imgs/hpq4.png" alt=""></div>
                                <p class="spindex_phcon_list_name">蒜蓉粉丝扇贝</p>
                                <p class="spindex_phcon_list_price">&yen;<span>18.80</span></p>
                                <p class="spindex_phcon_list_sc">已售出<span>130</span>件</p>
                            </li>
                            <li>
                                <div class="spindex_phcon_list_pic"><img src="../../client/src/imgs/hpq5.png" alt=""></div>
                                <p class="spindex_phcon_list_name">蒜蓉粉丝扇贝</p>
                                <p class="spindex_phcon_list_price">&yen;<span>18.80</span></p>
                                <p class="spindex_phcon_list_sc">已售出<span>130</span>件</p>
                            </li>
                            <li>
                                <div class="spindex_phcon_list_pic"><img src="../../client/src/imgs/hpq6.png" alt=""></div>
                                <p class="spindex_phcon_list_name">蒜蓉粉丝扇贝</p>
                                <p class="spindex_phcon_list_price">&yen;<span>18.80</span></p>
                                <p class="spindex_phcon_list_sc">已售出<span>130</span>件</p>
                            </li>
                        </ul>
                        <p class="spindex_phcon_list_more"><span>查看更多货品</span></p>
                    </div>
                    <div class="spindex_phconcj">
                        <ul class="spindex_phcon_list">
                            <li>
                                <div class="spindex_phcon_list_pic"><img src="../../client/src/imgs/hpq1.png" alt=""></div>
                                <p class="spindex_phcon_list_name">蒜蓉粉丝扇贝</p>
                                <p class="spindex_phcon_list_price">&yen;<span>18.80</span></p>
                                <p class="spindex_phcon_list_sc">已收藏<span>130</span>次</p>
                            </li>
                            <li>
                                <div class="spindex_phcon_list_pic"><img src="../../client/src/imgs/hpq2.png" alt=""></div>
                                <p class="spindex_phcon_list_name">蒜蓉粉丝扇贝</p>
                                <p class="spindex_phcon_list_price">&yen;<span>18.80</span></p>
                                <p class="spindex_phcon_list_sc">已收藏<span>130</span>次</p>
                            </li>
                            <li>
                                <div class="spindex_phcon_list_pic"><img src="../../client/src/imgs/hpq3.png" alt=""></div>
                                <p class="spindex_phcon_list_name">蒜蓉粉丝扇贝</p>
                                <p class="spindex_phcon_list_price">&yen;<span>18.80</span></p>
                                <p class="spindex_phcon_list_sc">已收藏<span>130</span>次</p>
                            </li>
                            <li>
                                <div class="spindex_phcon_list_pic"><img src="../../client/src/imgs/hpq4.png" alt=""></div>
                                <p class="spindex_phcon_list_name">蒜蓉粉丝扇贝</p>
                                <p class="spindex_phcon_list_price">&yen;<span>18.80</span></p>
                                <p class="spindex_phcon_list_sc">已收藏<span>130</span>次</p>
                            </li>
                            <li>
                                <div class="spindex_phcon_list_pic"><img src="../../client/src/imgs/hpq5.png" alt=""></div>
                                <p class="spindex_phcon_list_name">蒜蓉粉丝扇贝</p>
                                <p class="spindex_phcon_list_price">&yen;<span>18.80</span></p>
                                <p class="spindex_phcon_list_sc">已收藏<span>130</span>次</p>
                            </li>
                            <li>
                                <div class="spindex_phcon_list_pic"><img src="../../client/src/imgs/hpq6.png" alt=""></div>
                                <p class="spindex_phcon_list_name">蒜蓉粉丝扇贝</p>
                                <p class="spindex_phcon_list_price">&yen;<span>18.80</span></p>
                                <p class="spindex_phcon_list_sc">已收藏<span>130</span>次</p>
                            </li>
                        </ul>
                        <p class="spindex_phcon_list_more"><span>查看更多货品</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="spindex_right">
            <div class="spindex_right_top">
                <span class="spindex_right_topfont">全部货品</span>
                <span class="spindex_right_topright"><img src="../../client/src/imgs/spindex_right.png" alt=""></span>
                <span class="spindex_right_topleft"><img src="../../client/src/imgs/spindex_left.png" alt=""></span>
                <span class="spindex_right_topym"><i>5</i>/100</span>
                <span class="spindex_right_topnum">共<b>1588</b>个结果</span>
            </div>
            <div class="spindex_listbox">
                <ul class="spindex_list">
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg1.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg2.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg3.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg4.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg1.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg2.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg3.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg4.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg1.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg2.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg3.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg4.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg1.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg2.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg3.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                    <li>
                        <div class="spindex_list_pic"><img src="../../client/src/imgs/spindex_listimg4.png" alt=""></div>
                        <p class="spindex_list_name">珍享 澳洲进口脐橙 澳大利亚橙子（单果重约220g）12个装 小6</p>
                        <p class="spindex_list_xq">
                            <b class="spindex_list_price">&yen;<span>88.00</span></b>
                            <span class="spindex_list_xj">销量1000件</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="spfybox">
                <div class="spfybox_con">
                    <span class="spfybox_conleft"><img src="../../client/src/imgs/fyleft.png" alt=""></span>
                    <ul class="spfybox_conlist">
                        <li class="spfybox_conlist_click">1</li>
                        <li class="spfybox_conlist_wdj">2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>...</li>
                        <li>100</li>
                    </ul>
                    <span class="spfybox_conleft spfybox_conright"><img src="../../client/src/imgs/fyright.png" alt=""></span>
                    <span class="spfybox_conall">共<b>100</b>页</span>
                    <p class="spfybox_condjy"><span>到第</span><input type="text" value="1" class="spfybox_condjy_num"><span>页</span></p>
                    <span class="spfybox_conbtn">确&nbsp;&nbsp;&nbsp;定</span>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="index_jsbox">
    <div class="index_js">
        <img src="../../client/src/imgs/index_js1.png" alt="">
        <img src="../../client/src/imgs/index_js2.png" alt="">
        <img src="../../client/src/imgs/index_js3.png" alt="">
        <img src="../../client/src/imgs/index_js4.png" alt="">
    </div>
</div>
<div class="index_foot">
    <div class="index_footbox">
        <div class="index_footnavbox">
            <div class="index_foot_listbox">
                <p class="index_foot_font">购物指南</p>
                <ul class="index_foot_list">
                    <li>注册与登录</li>
                    <li>账户信息维护</li>
                    <li>购物流程</li>
                    <li>会员体系</li>
                    <li>常见问题</li>
                </ul>
            </div>
            <div class="index_foot_listbox">
                <p class="index_foot_font">支付方式</p>
                <ul class="index_foot_list">
                    <li>支付方式</li>
                    <li>货到付款</li>
                    <li>在线支付</li>
                    <li>公司转账</li>
                    <li>在线支付服务说明</li>
                    <li>公司转账</li>
                </ul>
            </div>
            <div class="index_foot_listbox">
                <p class="index_foot_font">配送方式</p>
                <ul class="index_foot_list">
                    <li>上门自提</li>
                    <li>送货和验货标准</li>
                    <li>运费规则说明</li>
                    <li>隐私保护政策说明</li>
                    <li>运费规则说明</li>
                    <li>隐私保护政策</li>
                </ul>
            </div>
            <div class="index_foot_listbox">
                <p class="index_foot_font">售后服务</p>
                <ul class="index_foot_list">
                    <li>售后流程</li>
                    <li>开票制度</li>
                    <li>消费维权</li>
                    <li>纠纷处理规则</li>
                    <li>退货规则</li>
                </ul>
            </div>
            <div class="index_foot_listbox">
                <p class="index_foot_font">网站条款</p>
                <ul class="index_foot_list">
                    <li>法律声明</li>
                    <li>卡券使用指南</li>
                    <li>网站使用条款</li>
                    <li>网站免责声明</li>
                </ul>
            </div>
            <div class="index_footlx">
                <p class="index_footlxtel">400-152-1616</p>
                <p class="index_footlxtelts">周一至周六 <b>9:00-18:00</b><br/>（仅收市话费）</p>
                <span class="index_footkfbtn">24小时在线客服</span>
            </div>
        </div>
        <div class="index_foothz">
            <img src="../../client/src/imgs/hz_img1.png" alt="">
            <img src="../../client/src/imgs/hz_img2.png" alt="">
            <img src="../../client/src/imgs/hz_img3.png" alt="">
            <img src="../../client/src/imgs/hz_img4.png" alt="">
            <img src="../../client/src/imgs/hz_img5.png" alt="">
        </div>
        <div class="index_footnavlj">
            <span>关于小6</span>
            <span>|</span>
            <span>帮助中心</span>
            <span>|</span>
            <span>商务合作</span>
            <span>|</span>
            <span>企业采购</span>
            <span>|</span>
            <span>开放平台</span>
            <span>|</span>
            <span>小6招聘</span>
            <span>|</span>
            <span>搜索推荐</span>
            <span>|</span>
            <span>友情链接</span>
        </div>
        <p class="index_footcopy">三加三控股有限公司版权所有 © 2015-2017 ICP证号:苏ICP备14028752号-1 </p>
    </div>
</div>
<ul class="index_slide_navlist">
    <li class="index_slide_navlist_tel">
        <img src="../../client/src/imgs/index_siler_tel.png" alt="" class="index_slide_navlist_tel_img1">
        <img src="../../client/src/imgs/index_siler_tel2.png" alt="" class="index_slide_navlist_tel_img2">
        <p class="index_slide_nav_font">手机APP</p>
        <div class="index_slide_app">
            <img src="../../client/src/imgs/index_ewm.png" alt="">
            <p class="index_slide_app_font">扫码下载手机APP</p>
        </div>
    </li>
    <li>
        <img src="../../client/src/imgs/index_siler_top.png" alt="">
        <p class="index_slide_nav_font">回到顶部</p>
    </li>
</ul>

</body>
</html>
