<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>小六水产</title>
        <meta name="date" content="2015-12-3"/>
        <meta name="description" content="小六水产 电商网站。。。"/>
    </head>
    <body>
        {{> ../hbs/top.hbs}}
        <div class="index_ssbox">
            <div class="index_ss">
              <img src="../../client/src/imgs/index_x6logo.png" alt="" class="index_sslogo">
              <div class="index_ssjhd"><img src="../../client/src/imgs/index_ss_jhimg.png" alt="">进货单 (0)</div>
              <div class="index_sscon">
                <input type="text" placeholder="澳洲进口龙虾" class="index_sscon_input">
                <span class="index_sscon_btn"><img src="../../client/src/imgs/index_ss_img.png" alt=""></span>
              </div>
            </div>
        </div>   
        <div class="index_navbox" id="index_menu">      
        </div> 
        <div id="bannerHTML">
        </div>
        <div class="index_primarybox">
            <div class="index_jpyh" id="index_shop">
            </div>
            <div class="index_tjsp">
                <p class="index_jpyh_font">
                    <span class="index_jpyh_fontc">推荐货品</span>
                    <span class="index_tjsp_more">更多商品 ></span>
                </p>
                <ul class="aindex_jpyh_list">
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img1.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img2.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img3.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img4.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img1.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img2.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img3.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img4.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img1.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img2.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img3.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img4.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img1.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img2.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img3.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                    <li>
                        <div class="aindex_jpyh_list_pic"><img src="images/tjsp_img4.png" alt=""></div>
                        <p class="aindex_jpyh_list_font">獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛獐子岛扇贝獐子岛扇贝獐子岛扇贝獐子岛</p>
                        <p class="aindex_jpyh_list_price"><span>&yen;</span>28.90</p>
                    </li>
                </ul>
            </div>
        </div>
        {{> ../hbs/footer.hbs}}
        {{> ../hbs/sideNav.hbs}}
    </body>
</html>