<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小六水产</title>
</head>
<body>
    <div class="login_top"><p><img src="../../client/src/imgs/index_x6logo.png"><span>欢迎登录</span></p></div>
    
    <div class="lagin">
      <div class="lagin_m">
        <div class="login_left"><img src="../../client/src/imgs/loagin_bg_left.png"></div>
        <div class="login_right">
           <div class="login_sm">
             <img src="../../client/src/imgs/loagin_right_1.png" class="sa_ma">
             <div class="lagin_ts">点击这里密码登录</div>
             <p class="login_sm_tit">手机扫码，安全登录</p>
             <div class="er_ma"><img src="../../client/src/imgs/loagin_right_ma.png"></div>
             <div class="ts_sm"><img src="../../client/src/imgs/loagin_right_sa.png">打开<b>小6水产手机APP</b><br/>扫一扫登录</div>
             <p class="login_sm_ma"><a  class="mm_login">密码登录</a> <a href="register.html">免费注册</a></p>
           </div>
           <div class="login_sj">
             <img src="../../client/src/imgs/loagin_right_1.png" class="sj_ma">
             <div class="lagin_ts">点击这里扫码登录</div>
             <p class="login_sm_tit">密码登录</p>
             <div class="login_int">
                <form id="loginForm">
                    <p class="form-item">
                        <input class="input1"  type="text" placeholder="请输入用户名或手机号" id="userName" name="userName"/><span><img src="../../client/src/imgs/input_clean.png"  id="clear"></span></p>
                    <p class="form-item">
                        <input class="input2" type="password"  placeholder="请输入密码" id="passWord" name="passWord"/>
                    </p>
                    <input class="butt butt_tui" type="button"  value="登 录" id="loginBtn" />
                </form>
             </div>
             <p class="login_sm_ma"><a>忘记密码</a> <a href="register.html">免费注册</a></p>
           </div>
        </div>
      </div>
    </div>
    
    <div class="lagin_bottom">©2010-2017 1688.com版权所有  <a>著作权与商标声明</a> 丨 <a>法律声明</a> 丨 <a>服务条款</a> 丨 <a>隐私声明</a> 丨 <a>关于小6水产</a> 丨 <a>联系我们</a></div>
</body>
</html>