  <ul class="index_slide_navlist">
    <li class="index_slide_navlist_tel">
      <img src="../../client/src/imgs/index_siler_tel.png" alt="" class="index_slide_navlist_tel_img1">
      <img src="../../client/src/imgs/index_siler_tel2.png" alt="" class="index_slide_navlist_tel_img2">
      <p class="index_slide_nav_font">手机APP</p>
      <div class="index_slide_app">
        <img src="../../client/src/imgs/index_ewm.png" alt="">
        <p class="index_slide_app_font">扫码下载手机APP</p>
      </div>
    </li>
    <li>
      <img src="../../client/src/imgs/index_siler_top.png" alt="">
      <p class="index_slide_nav_font">回到顶部</p>
    </li>
  </ul>