<div class="index_topbox">
  <div class="index_top">
    <p class="index_topzhy">Hi，欢迎来到小6！</p>
    <span class="index_toplogin">登录</span>
    <span class="index_topreg">注册</span>
    <ul class="index_toplist">
      <li>我的订单</li>
      <li>我的收藏</li>
      <li>联系客服
        <div class="index_toplist_box" >
          <img src="../../client/src/imgs/index_top_lxkf_img.png" alt="">
          <p class="index_toplist_box_tel">400-153-1616</p>
          <p class="index_toplist_box_telxq">周一至周五 <b>9:00-20:30</b><br/>周六、周日<b>9:00-18:00</b><br/>（仅收市话费）</p>
        </div>
      </li>
      <li>手机小6
        <div class="index_toplist_box index_toplist_box_ewm">
          <img src="../../imgs/index_ewm.png" alt="">
          <p class="index_toplist_box_ewmxq">扫码下载手机APP</p>
        </div>
      </li>
    </ul>
  </div>
</div>