  
  <div id="index_banner" class="index_banner">
    <ul id="index_banner_ul" class="index_banner_ul">
      {{#banner }}
      <li><a href="{{href}}"><img src="{{imgUrl}}"></a></li>
      {{/banner }}
    </ul>
    <ul id="index_banner_nav" class="index_banner_nav">
      {{#banner }}
      <li></li>
      {{/banner }}
    </ul>
    <div id="index_banner_btn" class="index_banner_btn">
      <div class="index_banner_prev" id="index_banner_prev"><img src="../../client/src/imgs/index_banner_left.png" alt=""></div>
      <div class="index_banner_next" id="index_banner_next"><img src="../../client/src/imgs/index_banner_right.png" alt=""></div>
    </div>      
  </div>
