<ul class="index_nav">
    {{# firstMenu}}
    <li>
        <a>{{configName}}
        <div class="index_nav2box">
            <ul class="index_nav2">
                {{# typeBeans}}
                <li>{{typeName}}</li>
                {{/ typeBeans}}
            </ul>
        </div>
        </a>
    </li>
    {{/ firstMenu}}
</ul>