<p class="index_jpyh_font">
    <span class="index_jpyh_fontc">金牌商户</span>
    <span class="index_jpyh_fonte">为您精选优质商户</span>
</p>
<ul class="index_jpyh_list">
    {{# shops}}
    <li><img src="{{configPic}}" alt=""/></li>
    {{/ shops}}
</ul>